/* Toastify */
.Toastify .fancy-progress-bar {
  background: rgba(255, 255, 255, 0.45);
}
.Toastify .Toastify__toast {
  background-color: #02b290;
  font-family: "Inter", sans-serif;
}
.Toastify .Toastify__toast .Toastify__toast-body,
.Toastify .Toastify__toast .Toastify__close-button {
  color: #ffffff;
}
.Toastify .Toastify__toast .Toastify__close-button {
  opacity: 0.7;
}
.Toastify .Toastify__toast .Toastify__close-button:hover {
  opacity: 1;
}

@media (max-width: 480px) {
  .Toastify .Toastify__toast-container--top-left,
  .Toastify .Toastify__toast-container--top-center,
  .Toastify .Toastify__toast-container--top-right {
    top: 66px;
  }
  .Toastify .Toastify__toast {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 5px;
  }
}

/* Drawer */
.drawer .drawer-content-wrapper {
  width: 100%;
}
.drawer .drawer-mask {
  cursor: pointer;
}
@media (min-width: 500px) {
  .drawer .drawer-content-wrapper {
    width: 500px;
  }
}

/* pagination */
.rc-pagination.order-table-pagination .rc-pagination-prev,
.rc-pagination.order-table-pagination .rc-pagination-next {
  height: 30px;
  width: 30px;
  padding: 8px 5px;
  background-color: #f3f6f9;
  border-radius: 3px;
}
.rc-pagination.order-table-pagination .rc-pagination-prev {
  margin-right: 15px;
}
.rc-pagination.order-table-pagination .rc-pagination-next {
  margin-left: 15px;
}
.rc-pagination.order-table-pagination li.rc-pagination-disabled {
  opacity: 0.3;
}
.rc-pagination.order-table-pagination li {
  height: auto;
  min-width: auto;
  border: 0;
  border-radius: 0;
}
.rc-pagination.order-table-pagination li svg {
  width: 100%;
}
.rc-pagination.order-table-pagination li.rc-pagination-item-active a {
  opacity: 1;
}
.rc-pagination.order-table-pagination li a {
  padding: 0;
  color: rgba(0, 0, 0, 1);
  opacity: 0.7;
}

/* Others */
.dv-star-rating > label {
  margin-right: 4px;
}
.PhoneInput {
  border: 1px solid rgb(221, 222, 222) !important;
  border-radius: 4px !important;
}
.PhoneInputInput {
  border: none;
}
.PhoneInputCountry {
  /* border-right: 1px solid rgb(87, 138, 234) !important; */
  padding-left: 4px !important;
  padding-right: 4px !important;
  margin-right: 0 !important;
}

._1bpcM {
  align-items: center;
  align-self: flex-end;
  background-color: rgb(79, 206, 93) !important;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 15%) 0px 3px 12px;
  color: rgb(255 255 255) !important;
  cursor: pointer;
  display: flex;
  font-size: 2em;
  height: 48px !important;
  justify-content: center;
  outline: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 48px !important;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
}
._2iWL7 {
  bottom: 90px;
  z-index: 99;
}
._nYEjV {
  max-width: calc(100% - 112px);
}
@media (max-width: 500px) {
  ._nYEjV {
    max-width: calc(100% - 8px);
  }
}

.social-link-vertical-align > span {
  vertical-align: middle;
}

.mega-menu {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  text-align: left;
  width: 100%;
  transition: all 0.15s linear 0s;
}

.mega-menu-mini {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  text-align: left;
  position: absolute;

  transition: all 0.15s linear 0s;
}

/* #hoverable Class Styles */
.hoverable {
  position: static;
}
/* 
.hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
} */

.hoverable:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

.hoverable:hover .mega-menu-mini {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

/* #toggle Class Styles */

.toggleable > label:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.toggle-input {
  display: none;
}
.toggle-input:not(checked) ~ .mega-menu {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
}

.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  height: 0px;
}
